In [1]:
# 전날 종가와 다음날 시가 사이 수익률 비교 - 기초통계(평균, 중간값, 표준편차), 확률, 손익비
# 전날 종가에 사서 다음날 시가에 판다면?
import pandas as pd
from antQuant.utils import DataManager

In [2]:
stock = DataManager()

In [3]:
data = stock.read_data('AH_DB', 'adjdailyohlcv',['date', 'code', 'close', 'open'], conditions = {'date': "BETWEEN DATE ' 2016-01-01' AND DATE '2018-05-01'"})

In [4]:
data.date = pd.to_datetime(data.date)
data.head()

        date    code     close      open
0 2016-01-04  232680   4533.33   4273.33
1 2016-01-04  233190   4880.00   4880.00
2 2016-01-04  232360   7900.00   7900.00
3 2016-01-04  233990   3800.00   3800.00
4 2016-01-04  084670  26756.40  26987.10

In [5]:
data.set_index(['date', 'code'], inplace=True)
data.head()

                      close      open
date       code
2016-01-04 232680   4533.33   4273.33
           233190   4880.00   4880.00
           232360   7900.00   7900.00
           233990   3800.00   3800.00
           084670  26756.40  26987.10

In [6]:
import numpy as np

In [7]:
# 다음날 시가를 당일 종가로 맞추기
data['opend1'] = data['open'].groupby(level=1).shift(-1)
data.head()

                      close      open    opend1
date       code
2016-01-04 232680   4533.33   4273.33   4533.33
           233190   4880.00   4880.00   4880.00
           232360   7900.00   7900.00   7900.00
           233990   3800.00   3800.00   4370.00
           084670  26756.40  26987.10  26410.40

In [8]:
data.loc[('2016-01-05', '092040')].head()

close     33681.2
open      31059.9
opend1    33730.7
Name: (2016-01-05 00:00:00, 092040), dtype: float64

In [9]:
data['returns'] = np.log(data['close']/data['opend1'])
data.head()

                      close      open    opend1   returns
date       code
2016-01-04 232680   4533.33   4273.33   4533.33  0.000000
           233190   4880.00   4880.00   4880.00  0.000000
           232360   7900.00   7900.00   7900.00  0.000000
           233990   3800.00   3800.00   4370.00 -0.139762
           084670  26756.40  26987.10  26410.40  0.013016

In [10]:
len(data)

1415939

In [11]:
len(data[data['returns']>0])/len(data)

0.32782132563620325

In [12]:
len(data[data['returns']<=0])/len(data)

0.6702153129478036

In [13]:
returns = data[data['returns']!=np.inf]['returns']

In [14]:
len(returns[returns>0])/len(returns)

0.3268467326643039

In [15]:
len(returns[returns<0])/len(returns)

0.42810857146494524

In [16]:
returns.mean()

-0.0006837201444732856

In [17]:
returns = returns.dropna()

In [18]:
len(returns[returns>0])/len(returns)

0.32749064742695283

In [19]:
len(returns[returns<0])/len(returns)

0.4289519803218603

In [20]:
len(returns[returns==0])/len(returns)

0.24355737225118684