In [2]:
import pandas as pd
import statsmodels.formula.api as sm
from statsmodels.sandbox.regression.predstd import wls_prediction_std
from sklearn import preprocessing
from sklearn.preprocessing import scale, robust_scale, minmax_scale, maxabs_scale
from pandas import ExcelWriter
from pandas import ExcelFile

In [3]:
chicken1 = pd.read_excel('data_chicken/data_1.xls',header=None)

In [4]:
chicken1

      0       1      2  3  4  5  6
0   280  208904    450  1  0  0  0
1   199  160021    130  1  0  0  0
2   160  125580    195  1  0  0  0
3   194  222652    375  1  0  0  0
4   231  230570    160  1  0  0  0
5   210  146196     40  1  0  0  0
6   212  156671    105  1  0  0  0
7   119   93402     70  1  0  0  0
8   241  204606    193  1  0  0  0
9   180  125384     70  1  0  0  0
10  143  145179    315  1  0  0  0
11  136  159770    100  1  0  0  0
12  160  153610    135  1  0  0  0
13  147  126581    145  1  0  0  0
14  189  155051    230  1  0  0  0
15  132  116401     95  1  0  0  0
16  209  174370    205  1  0  0  0
17  216  230801    321  1  0  0  0
18  141  163253    130  1  0  0  0
19  175  146904    215  1  0  0  0
20   96   90164    190  1  0  0  0
21  187  178775     40  1  0  0  0
22  137   60786    290  1  0  0  0
23  141   51503    475  1  0  0  0
24  172  157571     55  1  0  0  0
25  280  208904   6337  0  1  0  0
26  199  160021   3489  0  1  0  0
27  160  125580   2195  0  1  0  0
28  194  222652   6050  0  1  0  0
29  231  230570   2954  0  1  0  0
..  ...     ...    ... .. .. .. ..
70   96   90164  12988  0  0  1  0
71  187  178775  17455  0  0  1  0
72  137   60786   8586  0  0  1  0
73  141   51503  13250  0  0  1  0
74  172  157571  11620  0  0  1  0
75  280  208904  10470  0  0  0  1
76  199  160021   6163  0  0  0  1
77  160  125580   4565  0  0  0  1
78  194  222652  11360  0  0  0  1
79  231  230570   7713  0  0  0  1
80  210  146196   2398  0  0  0  1
81  212  156671   4495  0  0  0  1
82  119   93402   2864  0  0  0  1
83  241  204606   5950  0  0  0  1
84  180  125384   2175  0  0  0  1
85  143  145179   4475  0  0  0  1
86  136  159770   3749  0  0  0  1
87  160  153610   5465  0  0  0  1
88  147  126581   6556  0  0  0  1
89  189  155051   6140  0  0  0  1
90  132  116401   3944  0  0  0  1
91  209  174370   5730  0  0  0  1
92  216  230801   7424  0  0  0  1
93  141  163253   2645  0  0  0  1
94  175  146904   8108  0  0  0  1
95   96   90164   5210  0  0  0  1
96  187  178775   5296  0  0  0  1
97  137   60786   3882  0  0  0  1
98  141   51503   6069  0  0  0  1
99  172  157571   4191  0  0  0  1

[100 rows x 7 columns]

In [5]:
chicken1.columns = ["total_number", "house", "call", "morning", "lunch", "dinner","yasik"]

In [7]:
chicken1.min()

total_number       96
house           51503
call               40
morning             0
lunch               0
dinner              0
yasik               0
dtype: int64

In [8]:
chicken1.max()

total_number       280
house           230801
call             33446
morning              1
lunch                1
dinner               1
yasik                1
dtype: int64

In [9]:
chicken1

    total_number   house   call  morning  lunch  dinner  yasik
0            280  208904    450        1      0       0      0
1            199  160021    130        1      0       0      0
2            160  125580    195        1      0       0      0
3            194  222652    375        1      0       0      0
4            231  230570    160        1      0       0      0
5            210  146196     40        1      0       0      0
6            212  156671    105        1      0       0      0
7            119   93402     70        1      0       0      0
8            241  204606    193        1      0       0      0
9            180  125384     70        1      0       0      0
10           143  145179    315        1      0       0      0
11           136  159770    100        1      0       0      0
12           160  153610    135        1      0       0      0
13           147  126581    145        1      0       0      0
14           189  155051    230        1      0       0      0
15           132  116401     95        1      0       0      0
16           209  174370    205        1      0       0      0
17           216  230801    321        1      0       0      0
18           141  163253    130        1      0       0      0
19           175  146904    215        1      0       0      0
20            96   90164    190        1      0       0      0
21           187  178775     40        1      0       0      0
22           137   60786    290        1      0       0      0
23           141   51503    475        1      0       0      0
24           172  157571     55        1      0       0      0
25           280  208904   6337        0      1       0      0
26           199  160021   3489        0      1       0      0
27           160  125580   2195        0      1       0      0
28           194  222652   6050        0      1       0      0
29           231  230570   2954        0      1       0      0
..           ...     ...    ...      ...    ...     ...    ...
70            96   90164  12988        0      0       1      0
71           187  178775  17455        0      0       1      0
72           137   60786   8586        0      0       1      0
73           141   51503  13250        0      0       1      0
74           172  157571  11620        0      0       1      0
75           280  208904  10470        0      0       0      1
76           199  160021   6163        0      0       0      1
77           160  125580   4565        0      0       0      1
78           194  222652  11360        0      0       0      1
79           231  230570   7713        0      0       0      1
80           210  146196   2398        0      0       0      1
81           212  156671   4495        0      0       0      1
82           119   93402   2864        0      0       0      1
83           241  204606   5950        0      0       0      1
84           180  125384   2175        0      0       0      1
85           143  145179   4475        0      0       0      1
86           136  159770   3749        0      0       0      1
87           160  153610   5465        0      0       0      1
88           147  126581   6556        0      0       0      1
89           189  155051   6140        0      0       0      1
90           132  116401   3944        0      0       0      1
91           209  174370   5730        0      0       0      1
92           216  230801   7424        0      0       0      1
93           141  163253   2645        0      0       0      1
94           175  146904   8108        0      0       0      1
95            96   90164   5210        0      0       0      1
96           187  178775   5296        0      0       0      1
97           137   60786   3882        0      0       0      1
98           141   51503   6069        0      0       0      1
99           172  157571   4191        0      0       0      1

[100 rows x 7 columns]

In [10]:
chicken1['call_for_onestore'] = chicken1['call']/chicken1['total_number']

In [11]:
chicken1

,total_number,house,call,morning,lunch,dinner,yasik,call_for_onestore
0,280,208904,450,1,0,0,0,1.607143
1,199,160021,130,1,0,0,0,0.653266
2,160,125580,195,1,0,0,0,1.218750
3,194,222652,375,1,0,0,0,1.932990
4,231,230570,160,1,0,0,0,0.692641
5,210,146196,40,1,0,0,0,0.190476
6,212,156671,105,1,0,0,0,0.495283
7,119,93402,70,1,0,0,0,0.588235
8,241,204606,193,1,0,0,0,0.800830
9,180,125384,70,1,0,0,0,0.388889
10,143,145179,315,1,0,0,0,2.202797
11,136,159770,100,1,0,0,0,0.735294
12,160,153610,135,1,0,0,0,0.843750
13,147,126581,145,1,0,0,0,0.986395
14,189,155051,230,1,0,0,0,1.216931
15,132,116401,95,1,0,0,0,0.719697
16,209,174370,205,1,0,0,0,0.980861
17,216,230801,321,1,0,0,0,1.486111
18,141,163253,130,1,0,0,0,0.921986
19,175,146904,215,1,0,0,0,1.228571
20,96,90164,190,1,0,0,0,1.979167
21,187,178775,40,1,0,0,0,0.213904
22,137,60786,290,1,0,0,0,2.116788
23,141,51503,475,1,0,0,0,3.368794
24,172,157571,55,1,0,0,0,0.319767
25,280,208904,6337,0,1,0,0,22.632143
26,199,160021,3489,0,1,0,0,17.532663
27,160,125580,2195,0,1,0,0,13.718750
28,194,222652,6050,0,1,0,0,31.185567
29,231,230570,2954,0,1,0,0,12.787879
...,...,...,...,...,...,...,...,...
70,96,90164,12988,0,0,1,0,135.291667
71,187,178775,17455,0,0,1,0,93.342246
72,137,60786,8586,0,0,1,0,62.671533
73,141,51503,13250,0,0,1,0,93.971631
74,172,157571,11620,0,0,1,0,67.558140
75,280,208904,10470,0,0,0,1,37.392857
76,199,160021,6163,0,0,0,1,30.969849
77,160,125580,4565,0,0,0,1,28.531250
78,194,222652,11360,0,0,0,1,58.556701
79,231,230570,7713,0,0,0,1,33.389610
80,210,146196,2398,0,0,0,1,11.419048
81,212,156671,4495,0,0,0,1,21.202830
82,119,93402,2864,0,0,0,1,24.067227
83,241,204606,5950,0,0,0,1,24.688797
84,180,125384,2175,0,0,0,1,12.083333
85,143,145179,4475,0,0,0,1,31.293706
86,136,159770,3749,0,0,0,1,27.566176
87,160,153610,5465,0,0,0,1,34.156250
88,147,126581,6556,0,0,0,1,44.598639
89,189,155051,6140,0,0,0,1,32.486772
90,132,116401,3944,0,0,0,1,29.878788
91,209,174370,5730,0,0,0,1,27.416268
92,216,230801,7424,0,0,0,1,34.370370
93,141,163253,2645,0,0,0,1,18.758865
94,175,146904,8108,0,0,0,1,46.331429
95,96,90164,5210,0,0,0,1,54.270833
96,187,178775,5296,0,0,0,1,28.320856
97,137,60786,3882,0,0,0,1,28.335766
98,141,51503,6069,0,0,0,1,43.042553
99,172,157571,4191,0,0,0,1,24.366279

In [20]:
min_max_scaler = preprocessing.MinMaxScaler()
x = chicken1['total_number'].values.astype(float)
x = x.reshape(-1,1)
x_scaled = min_max_scaler.fit_transform(x)
chicken1['total_number'] = pd.DataFrame(x_scaled)

In [21]:
x = chicken1['house'].values.astype(float)
x = x.reshape(-1,1)
x_scaled = min_max_scaler.fit_transform(x)
chicken1['house'] = pd.DataFrame(x_scaled)

In [23]:
chicken1.loc[chicken1['house'] == 1]

,total_number,house,call,morning,lunch,dinner,yasik,call_for_onestore
17,0.652174,1.0,321,1,0,0,0,1.486111
42,0.652174,1.0,4709,0,1,0,0,21.800926
67,0.652174,1.0,21466,0,0,1,0,99.379630
92,0.652174,1.0,7424,0,0,0,1,34.370370

In [30]:
a = 1
b = 0
c = 0
d = 0
e = 1
f = 0.652174

In [31]:
result = 23 + 22*a -25*b -9*c + 56*d +2*e -21*f

In [32]:
result

33.304345999999995