## 시스템 품질 변화로 인한 사용자 불편 예지 AI 경진대회

### 주제
- 비식별화 된 시스템 기록을 분석하여 시스템 품질 변화로 사용자에게 불편을 야기하는 요인을 진단

### 배경
- 다양한 장비/서비스에서 일어나는 시스템 데이터를 통해 사용자의 불편을 예지하기 위해 '시스템 데이터'와 '사용자 불편 발생 데이터'를 분석하여 불편을 느낀 사용자와 불편 요인들을 찾아주세요.

### 데이터 설명
- 학습 데이터 (user_id : 10000 ~ 24999, 15000명)
    - train_err_data.csv : 시스템에 발생한 에러 로그
    - train_quality_data.csv : 시스템 퀄리티 로그
    - train_problem_data.csv : 사용자 불만 및 불만이 접수된 시간  
  
- 테스트 데이터(user_id : 30000 ~ 44998, 14999명)
    - test_err_data.csv : 시스템에 발생한 에러 로그
    - test_quality_data.csv : 시스템 퀄리티 로그
    - sample_submission.csv : 사용자 불만 확률(0~1) (제출용)

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import random
import lightgbm as lgb
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
import warnings
warnings.filterwarnings(action='ignore')

# 필요한 함수 정의
def make_datetime(x):
    # string 타입의 Time column을 datetime 타입으로 변경
    x     = str(x)
    year  = int(x[:4])
    month = int(x[4:6])
    day   = int(x[6:8])
    hour  = int(x[8:10])
    #mim  = int(x[10:12])
    #sec  = int(x[12:])
    return dt.datetime(year, month, day, hour)

def string2num(x):
    # (,)( )과 같은 불필요한 데이터 정제
    x = re.sub(r"[^0-9]+", '', str(x))
    if x =='':
        return 0
    else:
        return int(x)


PATH = 'D:/[0] Study/[9] 데이터분석/lg_system_err_data/'

### 학습 데이터 생성

### train_err
- train_err_data.csv 파일의 errtype column의 value_counts를 카운트하여 학습에 사용
- 주어진 기간동안 user_id별로 problem이 한번이라도 발생했는 지를 확인

In [2]:
train_err  = pd.read_csv(PATH+'train_err_data.csv')
display(train_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [3]:
# 데이터 설명을 확인하면
# ueser_id가 10000부터 24999까지 총 15000개가 연속적으로 존재.
display(train_err.head())
train_user_id_max = 24999
train_user_id_min = 10000
train_user_number = 15000

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [4]:
print(np.sort(train_err.errtype.unique()))
# errtype이 1부터 42까지 29를 제외한 41개가 존재.

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 30 31 32 33 34 35 36 37 38 39 40 41 42]

In [5]:
# user_id와 errtype만을 사용하여 데이터 셋 생성
# 모든 일자에 대해서 errtype별 발생 건수를 count
# pandas의 groupby를 활용할 경우 큰 연산 자원이 필요.
# numpy로 placeholder를 만들어 구현함.
id_error = train_err[['user_id','errtype']].values
error = np.zeros((train_user_number,42))

for person_idx, err in tqdm(id_error):
    # person_idx - train_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    error[person_idx - train_user_id_min,err - 1] += 1
error.shape

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 16554663/16554663 [00:47<00:00, 348975.36it/s]

(15000, 42)

In [6]:
error

array([[  0.,   0.,   8., ...,   0.,   0.,   0.],
       [  0.,   0.,   0., ..., 113.,  56.,   1.],
       [  0.,   0.,   2., ...,   0.,   0.,   0.],
       ...,
       [  0.,   0.,   0., ...,  58.,   8.,   5.],
       [  0.,   0.,   0., ...,   6.,   0.,   0.],
       [  0.,   0.,   4., ...,   0.,   0.,   0.]])

In [7]:
train_err             = pd.read_csv(PATH+'train_err_data.csv')
train_err['datetime'] = train_err['time'].apply(make_datetime)

min_day = train_err.datetime.min().date()

In [9]:
train_err.head()

,user_id,time,model_nm,fwver,errtype,errcode,datetime
0,10000,20201101025616,model_3,05.15.2138,15,1,2020-11-01 02:00:00
1,10000,20201101030309,model_3,05.15.2138,12,1,2020-11-01 03:00:00
2,10000,20201101030309,model_3,05.15.2138,11,1,2020-11-01 03:00:00
3,10000,20201101050514,model_3,05.15.2138,16,1,2020-11-01 05:00:00
4,10000,20201101050515,model_3,05.15.2138,4,0,2020-11-01 05:00:00

In [10]:
train_err['days'] = train_err.loc[:,'datetime'].dt.date - min_day
train_err['days'] = train_err['days'].dt.days
display(train_err)

,user_id,time,model_nm,fwver,errtype,errcode,datetime,days
0,10000,20201101025616,model_3,05.15.2138,15,1,2020-11-01 02:00:00,1
1,10000,20201101030309,model_3,05.15.2138,12,1,2020-11-01 03:00:00,1
2,10000,20201101030309,model_3,05.15.2138,11,1,2020-11-01 03:00:00,1
3,10000,20201101050514,model_3,05.15.2138,16,1,2020-11-01 05:00:00,1
4,10000,20201101050515,model_3,05.15.2138,4,0,2020-11-01 05:00:00,1
...,...,...,...,...,...,...,...,...
16554658,24999,20201130163051,model_3,05.15.2138,15,1,2020-11-30 16:00:00,30
16554659,24999,20201130172625,model_3,05.15.2138,16,1,2020-11-30 17:00:00,30
16554660,24999,20201130172625,model_3,05.15.2138,4,0,2020-11-30 17:00:00,30
16554661,24999,20201130172631,model_3,05.15.2138,4,0,2020-11-30 17:00:00,30
16554662,24999,20201130210625,model_3,05.15.2138,15,1,2020-11-30 21:00:00,30

### Problem

In [11]:
train_prob = pd.read_csv(PATH + 'train_problem_data.csv')
problem = np.zeros(15000)
# error와 동일한 방법으로 person_idx -10000 위치에
# person_idx의 problem이 한 번이라도 발생했다면 1
# 없다면 0
problem[train_prob.user_id.unique()-10000] = 1
problem.shape

(15000,)

In [13]:
train_prob.user_id.unique()

array([19224, 23664, 15166, ..., 19114, 21505, 18822], dtype=int64)

In [15]:
problem

array([0., 1., 0., ..., 1., 1., 0.])

## Light-gbm 모델 훈련

In [16]:
# 변수 이름 변경
# error -> train_x
# problem -> train_y

train_x = error
train_y = problem
del error, problem
print(train_x.shape)
print(train_y.shape)

(15000, 42)
(15000,)

In [17]:
# Train
#-------------------------------------------------------------------------------------
# validation auc score를 확인하기 위해 정의
def f_pr_auc(probas_pred, y_true):
    labels=y_true.get_label()
    p, r, _ = precision_recall_curve(labels, probas_pred)
    score=auc(r,p) 
    return "pr_auc", score, True
#-------------------------------------------------------------------------------------
models     = []
recalls    = []
precisions = []
auc_scores   = []
threshold = 0.5
# 파라미터 설정
params =      {
                'boosting_type' : 'gbdt',
                'objective'     : 'binary',
                'metric'        : 'auc',
                'seed': 1015
                }
#-------------------------------------------------------------------------------------
# 5 Kfold cross validation
k_fold = KFold(n_splits=5, shuffle=True, random_state=42)
for train_idx, val_idx in k_fold.split(train_x):

    # split train, validation set
    X = train_x[train_idx]
    y = train_y[train_idx]
    valid_x = train_x[val_idx]
    valid_y = train_y[val_idx]

    d_train= lgb.Dataset(X, y)
    d_val  = lgb.Dataset(valid_x, valid_y)
    
    #run traning
    model = lgb.train(
                        params,
                        train_set       = d_train,
                        num_boost_round = 1000,
                        valid_sets      = d_val,
                        feval           = f_pr_auc,
                        verbose_eval    = 20, 
                        early_stopping_rounds = 3
                       )
    
    # cal valid prediction
    valid_prob = model.predict(valid_x)
    valid_pred = np.where(valid_prob > threshold, 1, 0)
    
    # cal scores
    recall    = recall_score(    valid_y, valid_pred)
    precision = precision_score( valid_y, valid_pred)
    auc_score = roc_auc_score(   valid_y, valid_prob)

    # append scores
    models.append(model)
    recalls.append(recall)
    precisions.append(precision)
    auc_scores.append(auc_score)

    print('==========================================================')

[LightGBM] [Info] Number of positive: 3633, number of negative: 8367
[LightGBM] [Warning] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001899 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 4353
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.302750 -> initscore=-0.834237
[LightGBM] [Info] Start training from score -0.834237
Training until validation scores don't improve for 3 rounds
[20]	valid_0's auc: 0.797482	valid_0's pr_auc: 0.79351
Early stopping, best iteration is:
[25]	valid_0's auc: 0.800713	valid_0's pr_auc: 0.798635
==========================================================
[LightGBM] [Info] Number of positive: 4828, number of negative: 7172
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001690 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4499
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.402333 -> initscore=-0.395752
[LightGBM] [Info] Start training from score -0.395752
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.788479	valid_0's pr_auc: 0.318902
==========================================================
[LightGBM] [Info] Number of positive: 4718, number of negative: 7282
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.001815 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4606
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.393167 -> initscore=-0.434021
[LightGBM] [Info] Start training from score -0.434021
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[2]	valid_0's auc: 0.758498	valid_0's pr_auc: 0.358092
==========================================================
[LightGBM] [Info] Number of positive: 4544, number of negative: 7456
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002258 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4510
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.378667 -> initscore=-0.495211
[LightGBM] [Info] Start training from score -0.495211
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[10]	valid_0's auc: 0.807486	valid_0's pr_auc: 0.551353
==========================================================
[LightGBM] [Info] Number of positive: 2277, number of negative: 9723
[LightGBM] [Warning] Auto-choosing col-wise multi-threading, the overhead of testing was 0.002409 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 4280
[LightGBM] [Info] Number of data points in the train set: 12000, number of used features: 41
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.189750 -> initscore=-1.451635
[LightGBM] [Info] Start training from score -1.451635
Training until validation scores don't improve for 3 rounds
Early stopping, best iteration is:
[13]	valid_0's auc: 0.80189	valid_0's pr_auc: 0.974435
==========================================================

## 교차검증 점수 확인

In [18]:
print(np.mean(auc_scores))

0.7914130199022232

## 제출 파일 생성

In [19]:
test_err  = pd.read_csv(PATH+'test_err_data.csv')
display(test_err.head())

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2
2    30000  20201101030228  model_1  04.16.3553       15       1
3    30000  20201101030256  model_1  04.16.3553       22       1
4    30000  20201101030300  model_1  04.16.3553       11       1

In [20]:
# 데이터 설명을 확인하면
# test 데이터는 ueser_id가 30000부터 44998까지 총 14999개가 존재.
test_user_id_max = 44998
test_user_id_min = 30000
test_user_number = 14999

In [21]:
id_error = test_err[['user_id','errtype']].values
test_x = np.zeros((test_user_number,42))
for person_idx, err in tqdm(id_error):
    # person_idx - test_user_id_min 위치에 person_idx, errtype에 해당하는 error값을 +1
    test_x[person_idx - test_user_id_min,err - 1] += 1
test_x = test_x.reshape(test_x.shape[0],-1)
print(test_x.shape)

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 16532648/16532648 [00:47<00:00, 346982.66it/s]

(14999, 42)

In [22]:
# 예측
pred_y_list = []
for model in models:
    pred_y = model.predict(test_x)
    pred_y_list.append(pred_y.reshape(-1,1))
    
pred_ensemble = np.mean(pred_y_list, axis = 0)

In [23]:
pred_ensemble

array([[0.57755635],
       [0.26089892],
       [0.31557557],
       ...,
       [0.38301962],
       [0.61611595],
       [0.34348301]])

In [27]:
sample_submission = pd.read_csv(PATH+'sample_submission.csv')

In [28]:
sample_submission['problem'] = pred_ensemble.reshape(-1)

In [29]:
sample_submission

       user_id   problem
0        30000  0.577556
1        30001  0.260899
2        30002  0.315576
3        30003  0.535576
4        30004  0.454501
...        ...       ...
14994    44994  0.329001
14995    44995  0.315880
14996    44996  0.383020
14997    44997  0.616116
14998    44998  0.343483

[14999 rows x 2 columns]

In [30]:
sample_submssion.to_csv("dacon_baseline.csv", index = False)
sample_submssion

       user_id   problem
0        30000  0.577556
1        30001  0.260899
2        30002  0.315576
3        30003  0.535576
4        30004  0.454501
...        ...       ...
14994    44994  0.329001
14995    44995  0.315880
14996    44996  0.383020
14997    44997  0.616116
14998    44998  0.343483

[14999 rows x 2 columns]