In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split, GridSearchCV, RepeatedStratifiedKFold
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler, PowerTransformer, QuantileTransformer, OrdinalEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier, Pool
from autogluon.tabular import TabularDataset, TabularPredictor
pd.DataFrame.iteritems = pd.DataFrame.items

In [2]:
train = pd.read_csv('/Volumes/TAEJUN/[0] Study/[9] 데이터분석/playground-series-s4e1/train.csv')
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [3]:
test = pd.read_csv('/Volumes/TAEJUN/[0] Study/[9] 데이터분석/playground-series-s4e1/test.csv')
test.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [4]:
origin = pd.read_csv('/Volumes/TAEJUN/[0] Study/[9] 데이터분석/playground-series-s4e1/Churn_Modelling.csv')
origin.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [5]:
train = pd.concat([train.drop(["id", "Surname"], axis=1), origin.drop(["RowNumber", "Surname"], axis=1)], ignore_index=True)

In [6]:
train.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15674932,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,15749177,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,15694510,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,15741417,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,15766172,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [7]:
test.drop(["id", "Surname"], axis=1, inplace=True)

In [8]:
test.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15773898,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,15782418,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,15807120,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,15808905,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,15607314,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [9]:
train.isna().sum()

CustomerId         0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [10]:
train.isnull().sum()

CustomerId         0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [11]:
train.dropna(inplace=True)

In [12]:
train.isnull().sum()

CustomerId         0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [13]:
train.duplicated().sum()

199

In [14]:
train.drop_duplicates(inplace = True)

In [15]:
train.duplicated().sum()

0

In [16]:
train['HasCrCard'] = train['HasCrCard'].astype('int')
train['IsActiveMember'] = train['IsActiveMember'].astype('int')

test['HasCrCard'] = test['HasCrCard'].astype('int')
test['IsActiveMember'] = test['IsActiveMember'].astype('int')

def add_features(df):
    df['Geo_Gender'] = df['Geography'] + "_" + df['Gender']
    df['AgeGroup'] = df['Age'] // 10 * 10
    df['IsSenior'] = df['Age'].apply(lambda x: 1 if x >= 65 else 0)
    #df['IsYoung'] = df['Age'].apply(lambda x: 1 if x < 25 else 0)
    df['Balance_to_Salary_Ratio'] = (df['Balance'] / df['EstimatedSalary']).astype('float32')
    df['CreditScoreTier'] = pd.cut(df['CreditScore'], bins=[0, 650, 750, 850], labels=['Low', 'Medium', 'High'])
#     df['Products_Per_Tenure'] = (df['NumOfProducts'] / df['Tenure']).astype('float32')
    df['IsActive_by_CreditCard'] = (df['HasCrCard'] * df['IsActiveMember']).astype('float32')
    df['Customer_Status'] = df['Tenure'].apply(lambda x: 'New' if x < 2 else 'Long-term')
    return df

train = add_features(train)
test = add_features(test)

In [17]:
train.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geo_Gender,AgeGroup,IsSenior,Balance_to_Salary_Ratio,CreditScoreTier,IsActive_by_CreditCard,Customer_Status
0,15674932,668,France,Male,33.0,3,0.00,2,1,0,181449.97,0,France_Male,30.0,0,0.000000,Medium,0.0,Long-term
1,15749177,627,France,Male,33.0,1,0.00,2,1,1,49503.50,0,France_Male,30.0,0,0.000000,Low,1.0,New
2,15694510,678,France,Male,40.0,10,0.00,2,1,0,184866.69,0,France_Male,40.0,0,0.000000,Medium,0.0,Long-term
3,15741417,581,France,Male,34.0,2,148882.54,1,1,1,84560.88,0,France_Male,30.0,0,1.760655,Low,1.0,Long-term
4,15766172,716,Spain,Male,33.0,5,0.00,2,1,1,15068.83,0,Spain_Male,30.0,0,0.000000,Medium,1.0,Long-term

In [18]:
test.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_Gender,AgeGroup,IsSenior,Balance_to_Salary_Ratio,CreditScoreTier,IsActive_by_CreditCard,Customer_Status
0,15773898,586,France,Female,23.0,2,0.00,2,0,1,160976.75,France_Female,20.0,0,0.000000,Low,0.0,Long-term
1,15782418,683,France,Female,46.0,2,0.00,1,1,0,72549.27,France_Female,40.0,0,0.000000,Medium,0.0,Long-term
2,15807120,656,France,Female,34.0,7,0.00,2,1,0,138882.09,France_Female,30.0,0,0.000000,Medium,0.0,Long-term
3,15808905,681,France,Male,36.0,8,0.00,1,1,0,113931.57,France_Male,30.0,0,0.000000,Medium,0.0,Long-term
4,15607314,752,Germany,Male,38.0,10,121263.62,1,1,0,139431.00,Germany_Male,30.0,0,0.869703,High,0.0,Long-term

In [19]:
train = TabularDataset(train)
test = TabularDataset(test)

In [20]:
train['IsActive_by_CreditCard'].isin([np.inf]).sum()

0

In [ ]:
automl = TabularPredictor(label='Exited', problem_type='binary', eval_metric='roc_auc')
automl.fit(train, presets='best_quality')

No path specified. Models will be saved in: "AutogluonModels/ag-20240112_154035"
Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=1, num_bag_folds=8, num_bag_sets=1
Dynamic stacking is enabled (dynamic_stacking=True). AutoGluon will try to determine whether the input data is affected by stacked overfitting and enable or disable stacking as a consequence.
Detecting stacked overfitting by sub-fitting AutoGluon on the input data. That is, copies of AutoGluon will be sub-fit on subset(s) of the data. Then, the holdout validation data is used to detect stacked overfitting.
Sub-fit(s) time limit is: 3600 seconds.
Starting holdout-based sub-fit for dynamic stacking. Context path is: AutogluonModels/ag-20240112_154035/ds_sub_fit/sub_fit_ho.
Beginning AutoGluon training ... Time limit = 900s
AutoGluon will save models to "AutogluonModels/ag-20240112_154035/ds_sub_fit/sub_fit_ho"
=================== System Info ===================
AutoGluon Version:  1.0.0
Python Version:     3.9.18
Operating System:   Darwin
Platform Machine:   x86_64
Platform Version:   Darwin Kernel Version 21.6.0: Wed Oct  4 23:55:28 PDT 2023; root:xnu-8020.240.18.704.15~1/RELEASE_X86_64
CPU Count:          4
Memory Avail:       2.99 GB / 8.00 GB (37.4%)
Disk Space Avail:   62.74 GB / 112.80 GB (55.6%)
===================================================
Train Data Rows:    155407
Train Data Columns: 18
Label Column:       Exited
Problem Type:       binary
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    3116.03 MB
	Train Data (Original)  Memory Usage: 52.75 MB (1.7% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 6 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Stage 5 Generators:
		Fitting DropDuplicatesFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('category', []) : 1 | ['CreditScoreTier']
		('float', [])    : 6 | ['Age', 'Balance', 'EstimatedSalary', 'AgeGroup', 'Balance_to_Salary_Ratio', ...]
		('int', [])      : 7 | ['CustomerId', 'CreditScore', 'Tenure', 'NumOfProducts', 'HasCrCard', ...]
		('object', [])   : 4 | ['Geography', 'Gender', 'Geo_Gender', 'Customer_Status']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 3 | ['Geography', 'Geo_Gender', 'CreditScoreTier']
		('float', [])     : 5 | ['Age', 'Balance', 'EstimatedSalary', 'AgeGroup', 'Balance_to_Salary_Ratio']
		('int', [])       : 4 | ['CustomerId', 'CreditScore', 'Tenure', 'NumOfProducts']
		('int', ['bool']) : 6 | ['Gender', 'HasCrCard', 'IsActiveMember', 'IsSenior', 'IsActive_by_CreditCard', ...]
	1.3s = Fit runtime
	18 features in original data used to generate 18 features in processed data.
	Train Data (Processed) Memory Usage: 11.41 MB (0.4% of available memory)
Data preprocessing and feature engineering runtime = 1.49s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric parameter of Predictor()
Large model count detected (112 configs) ... Only displaying the first 3 models of each family. To see all, set `verbosity=3`.
User-specified model hyperparameters to be fit:
{
	'NN_TORCH': [{}, {'activation': 'elu', 'dropout_prob': 0.10077639529843717, 'hidden_size': 108, 'learning_rate': 0.002735937344002146, 'num_layers': 4, 'use_batchnorm': True, 'weight_decay': 1.356433327634438e-12, 'ag_args': {'name_suffix': '_r79', 'priority': -2}}, {'activation': 'elu', 'dropout_prob': 0.11897478034205347, 'hidden_size': 213, 'learning_rate': 0.0010474382260641949, 'num_layers': 4, 'use_batchnorm': False, 'weight_decay': 5.594471067786272e-10, 'ag_args': {'name_suffix': '_r22', 'priority': -7}}],
	'GBM': [{'extra_trees': True, 'ag_args': {'name_suffix': 'XT'}}, {}, 'GBMLarge'],
	'CAT': [{}, {'depth': 6, 'grow_policy': 'SymmetricTree', 'l2_leaf_reg': 2.1542798306067823, 'learning_rate': 0.06864209415792857, 'max_ctr_complexity': 4, 'one_hot_max_size': 10, 'ag_args': {'name_suffix': '_r177', 'priority': -1}}, {'depth': 8, 'grow_policy': 'Depthwise', 'l2_leaf_reg': 2.7997999596449104, 'learning_rate': 0.031375015734637225, 'max_ctr_complexity': 2, 'one_hot_max_size': 3, 'ag_args': {'name_suffix': '_r9', 'priority': -5}}],
	'XGB': [{}, {'colsample_bytree': 0.6917311125174739, 'enable_categorical': False, 'learning_rate': 0.018063876087523967, 'max_depth': 10, 'min_child_weight': 0.6028633586934382, 'ag_args': {'name_suffix': '_r33', 'priority': -8}}, {'colsample_bytree': 0.6628423832084077, 'enable_categorical': False, 'learning_rate': 0.08775715546881824, 'max_depth': 5, 'min_child_weight': 0.6294123374222513, 'ag_args': {'name_suffix': '_r89', 'priority': -16}}],
	'FASTAI': [{}, {'bs': 256, 'emb_drop': 0.5411770367537934, 'epochs': 43, 'layers': [800, 400], 'lr': 0.01519848858318159, 'ps': 0.23782946566604385, 'ag_args': {'name_suffix': '_r191', 'priority': -4}}, {'bs': 2048, 'emb_drop': 0.05070411322605811, 'epochs': 29, 'layers': [200, 100], 'lr': 0.08974235041576624, 'ps': 0.10393466140748028, 'ag_args': {'name_suffix': '_r102', 'priority': -11}}],
	'RF': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'XT': [{'criterion': 'gini', 'ag_args': {'name_suffix': 'Gini', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'entropy', 'ag_args': {'name_suffix': 'Entr', 'problem_types': ['binary', 'multiclass']}}, {'criterion': 'squared_error', 'ag_args': {'name_suffix': 'MSE', 'problem_types': ['regression', 'quantile']}}],
	'KNN': [{'weights': 'uniform', 'ag_args': {'name_suffix': 'Unif'}}, {'weights': 'distance', 'ag_args': {'name_suffix': 'Dist'}}],
}
AutoGluon will fit 2 stack levels (L1 to L2) ...
Fitting 110 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ... Training model for up to 598.85s of the 898.4s of remaining time.
	0.5419	 = Validation score   (roc_auc)
	0.64s	 = Training   runtime
	1.29s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ... Training model for up to 593.58s of the 893.12s of remaining time.
	0.5401	 = Validation score   (roc_auc)
	0.73s	 = Training   runtime
	1.26s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ... Training model for up to 591.36s of the 890.9s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=2.90%)
	0.8882	 = Validation score   (roc_auc)
	49.95s	 = Training   runtime
	9.48s	 = Validation runtime
Fitting model: LightGBM_BAG_L1 ... Training model for up to 522.03s of the 821.57s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=2.84%)
	0.8889	 = Validation score   (roc_auc)
	33.65s	 = Training   runtime
	6.59s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L1 ... Training model for up to 481.77s of the 781.31s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 204 due to low memory. Expected memory usage reduced from 22.01% -> 15.0% of available memory...
	0.8761	 = Validation score   (roc_auc)
	36.99s	 = Training   runtime
	5.15s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ... Training model for up to 438.05s of the 737.59s of remaining time.

	Warning: Reducing model 'n_estimators' from 300 -> 200 due to low memory. Expected memory usage reduced from 22.49% -> 15.0% of available memory...
	0.8756	 = Validation score   (roc_auc)
	42.18s	 = Training   runtime
	5.44s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ... Training model for up to 389.16s of the 688.7s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=2.94%)
	Warning: Exception caused CatBoost_BAG_L1 to fail during training... Skipping this model.
		ray::_ray_fit() (pid=9522, ip=127.0.0.1)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 402, in _ray_fit
    fold_model.fit(X=X_fold, y=y_fold, X_val=X_val_fold, y_val=y_val_fold, time_limit=time_limit_fold, **resources, **kwargs_fold)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/abstract/abstract_model.py", line 854, in fit
    out = self._fit(**kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/tabular/models/catboost/catboost_model.py", line 118, in _fit
    X = Pool(data=X, label=y, cat_features=cat_features, weight=sample_weight)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 792, in __init__
    self._init(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 1419, in _init
    self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "_catboost.pyx", line 3953, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 4003, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 3819, in _catboost._PoolBase._init_features_order_layout_pool
  File "_catboost.pyx", line 2729, in _catboost._set_features_order_data_pd_data_frame
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/pandas/core/generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'TabularDataset' object has no attribute 'iteritems'
Detailed Traceback:
Traceback (most recent call last):
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/trainer/abstract_trainer.py", line 1817, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/trainer/abstract_trainer.py", line 1763, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/abstract/abstract_model.py", line 854, in fit
    out = self._fit(**kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/stacker_ensemble_model.py", line 165, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/bagged_ensemble_model.py", line 273, in _fit
    self._fit_folds(
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/bagged_ensemble_model.py", line 689, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 661, in after_all_folds_scheduled
    self._run_parallel(X, y, X_pseudo, y_pseudo, model_base_ref, time_limit_fold, head_node_id)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 603, in _run_parallel
    self._process_fold_results(finished, unfinished, fold_ctx)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 566, in _process_fold_results
    raise processed_exception
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 532, in _process_fold_results
    fold_model, pred_proba, time_start_fit, time_end_fit, predict_time, predict_1_time = self.ray.get(finished)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/ray/_private/auto_init_hook.py", line 24, in auto_init_wrapper
    return fn(*args, **kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/ray/_private/client_mode_hook.py", line 103, in wrapper
    return func(*args, **kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/ray/_private/worker.py", line 2524, in get
    raise value.as_instanceof_cause()
ray.exceptions.RayTaskError(AttributeError): ray::_ray_fit() (pid=9522, ip=127.0.0.1)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 402, in _ray_fit
    fold_model.fit(X=X_fold, y=y_fold, X_val=X_val_fold, y_val=y_val_fold, time_limit=time_limit_fold, **resources, **kwargs_fold)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/abstract/abstract_model.py", line 854, in fit
    out = self._fit(**kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/tabular/models/catboost/catboost_model.py", line 118, in _fit
    X = Pool(data=X, label=y, cat_features=cat_features, weight=sample_weight)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 792, in __init__
    self._init(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 1419, in _init
    self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "_catboost.pyx", line 3953, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 4003, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 3819, in _catboost._PoolBase._init_features_order_layout_pool
  File "_catboost.pyx", line 2729, in _catboost._set_features_order_data_pd_data_frame
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/pandas/core/generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'TabularDataset' object has no attribute 'iteritems'
Fitting model: ExtraTreesGini_BAG_L1 ... Training model for up to 375.19s of the 674.74s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 194 due to low memory. Expected memory usage reduced from 23.15% -> 15.0% of available memory...
2024-01-13 00:44:26,904	ERROR worker.py:405 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_ray_fit() (pid=9523, ip=127.0.0.1)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 402, in _ray_fit
    fold_model.fit(X=X_fold, y=y_fold, X_val=X_val_fold, y_val=y_val_fold, time_limit=time_limit_fold, **resources, **kwargs_fold)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/abstract/abstract_model.py", line 854, in fit
    out = self._fit(**kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/tabular/models/catboost/catboost_model.py", line 118, in _fit
    X = Pool(data=X, label=y, cat_features=cat_features, weight=sample_weight)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 792, in __init__
    self._init(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 1419, in _init
    self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "_catboost.pyx", line 3953, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 4003, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 3819, in _catboost._PoolBase._init_features_order_layout_pool
  File "_catboost.pyx", line 2729, in _catboost._set_features_order_data_pd_data_frame
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/pandas/core/generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'TabularDataset' object has no attribute 'iteritems'

2024-01-13 00:44:26,920	ERROR worker.py:405 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): The worker died unexpectedly while executing this task. Check python-core-worker-*.log files for more information.
2024-01-13 00:44:26,934	ERROR worker.py:405 -- Unhandled error (suppress with 'RAY_IGNORE_UNHANDLED_ERRORS=1'): ray::_ray_fit() (pid=9524, ip=127.0.0.1)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/ensemble/fold_fitting_strategy.py", line 402, in _ray_fit
    fold_model.fit(X=X_fold, y=y_fold, X_val=X_val_fold, y_val=y_val_fold, time_limit=time_limit_fold, **resources, **kwargs_fold)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/core/models/abstract/abstract_model.py", line 854, in fit
    out = self._fit(**kwargs)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/autogluon/tabular/models/catboost/catboost_model.py", line 118, in _fit
    X = Pool(data=X, label=y, cat_features=cat_features, weight=sample_weight)
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 792, in __init__
    self._init(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/catboost/core.py", line 1419, in _init
    self._init_pool(data, label, cat_features, text_features, embedding_features, embedding_features_data, pairs, weight,
  File "_catboost.pyx", line 3953, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 4003, in _catboost._PoolBase._init_pool
  File "_catboost.pyx", line 3819, in _catboost._PoolBase._init_features_order_layout_pool
  File "_catboost.pyx", line 2729, in _catboost._set_features_order_data_pd_data_frame
  File "/Users/tj/anaconda3/envs/ML/lib/python3.9/site-packages/pandas/core/generic.py", line 6204, in __getattr__
    return object.__getattribute__(self, name)
AttributeError: 'TabularDataset' object has no attribute 'iteritems'
	0.8799	 = Validation score   (roc_auc)
	19.16s	 = Training   runtime
	4.71s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ... Training model for up to 349.74s of the 649.28s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 197 due to low memory. Expected memory usage reduced from 22.76% -> 15.0% of available memory...
	0.8796	 = Validation score   (roc_auc)
	19.69s	 = Training   runtime
	4.99s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ... Training model for up to 323.31s of the 622.85s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=4.65%)
	0.8873	 = Validation score   (roc_auc)
	259.54s	 = Training   runtime
	6.21s	 = Validation runtime
Fitting model: XGBoost_BAG_L1 ... Training model for up to 55.58s of the 355.12s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=3.77%)
	0.8888	 = Validation score   (roc_auc)
	51.66s	 = Training   runtime
	2.77s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ... Training model for up to 360.0s of the 289.91s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L1': 0.413, 'XGBoost_BAG_L1': 0.333, 'LightGBMXT_BAG_L1': 0.159, 'NeuralNetFastAI_BAG_L1': 0.079, 'RandomForestGini_BAG_L1': 0.016}
	0.8893	 = Validation score   (roc_auc)
	41.16s	 = Training   runtime
	0.04s	 = Validation runtime
Fitting 108 L2 models ...
Fitting model: LightGBMXT_BAG_L2 ... Training model for up to 248.67s of the 248.49s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=4.48%)
	0.89	 = Validation score   (roc_auc)
	62.07s	 = Training   runtime
	10.31s	 = Validation runtime
Fitting model: LightGBM_BAG_L2 ... Training model for up to 179.59s of the 179.41s of remaining time.
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy (4 workers, per: cpus=1, gpus=0, memory=4.62%)
	0.8905	 = Validation score   (roc_auc)
	33.0s	 = Training   runtime
	3.81s	 = Validation runtime
Fitting model: RandomForestGini_BAG_L2 ... Training model for up to 139.62s of the 139.44s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 186 due to low memory. Expected memory usage reduced from 24.09% -> 15.0% of available memory...
	0.8844	 = Validation score   (roc_auc)
	88.96s	 = Training   runtime
	6.1s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L2 ... Training model for up to 43.38s of the 43.19s of remaining time.
	Warning: Reducing model 'n_estimators' from 300 -> 229 due to low memory. Expected memory usage reduced from 19.61% -> 15.0% of available memory...
	Warning: Reducing model 'n_estimators' from 229 -> 79 due to low time. Expected time usage reduced from 125.2s -> 43.4s...
	Not enough time to generate out-of-fold predictions for model. Estimated time required was 16.88s compared to 14.99s of available time.
	Time limit exceeded... Skipping RandomForestEntr_BAG_L2.
Fitting model: WeightedEnsemble_L3 ... Training model for up to 360.0s of the 0.42s of remaining time.
	Ensemble Weights: {'LightGBM_BAG_L2': 0.579, 'LightGBMXT_BAG_L2': 0.263, 'RandomForestGini_BAG_L2': 0.158}
	0.891	 = Validation score   (roc_auc)
	52.2s	 = Training   runtime
	0.04s	 = Validation runtime
AutoGluon training complete, total runtime = 951.91s ... Best model: "WeightedEnsemble_L3"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("AutogluonModels/ag-20240112_154035/ds_sub_fit/sub_fit_ho")

In [ ]:
automl.leaderboard()

In [ ]:
prediction = automl.predict_proba(test)

data_submit = pd.read_csv('/Volumes/TAEJUN/[0] Study/[9] 데이터분석/playground-series-s4e1/sample_submission.csv')
data_submit.Exited = prediction[1]
data_submit[['id', 'Exited']].to_csv('PG_s4e1_autogluon.csv', index=False)