In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import KFold, StratifiedKFold, train_test_split, GridSearchCV, RepeatedStratifiedKFold
from sklearn.preprocessing import MinMaxScaler, StandardScaler, MaxAbsScaler, RobustScaler, PowerTransformer, QuantileTransformer, OrdinalEncoder, LabelEncoder
from sklearn.impute import SimpleImputer

from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier, ExtraTreesClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier, Pool
from autogluon.tabular import TabularDataset, TabularPredictor
pd.DataFrame.iteritems = pd.DataFrame.items

In [50]:
train = pd.read_csv('E:/[0] Study/[9] 데이터분석/playground-series-s4e1/train.csv')
train.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [51]:
test = pd.read_csv('E:/[0] Study/[9] 데이터분석/playground-series-s4e1/test.csv')
test.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [52]:
origin = pd.read_csv('E:/[0] Study/[9] 데이터분석/playground-series-s4e1/Churn_Modelling.csv')
origin.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42.0,2,0.00,1,1.0,1.0,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41.0,1,83807.86,1,0.0,1.0,112542.58,0
2,3,15619304,Onio,502,France,Female,42.0,8,159660.80,3,1.0,0.0,113931.57,1
3,4,15701354,Boni,699,France,Female,39.0,1,0.00,2,0.0,0.0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43.0,2,125510.82,1,NaN,1.0,79084.10,0

In [53]:
train = pd.concat([train.drop(["id", "Surname"], axis=1), origin.drop(["RowNumber", "Surname"], axis=1)], ignore_index=True)

In [54]:
train.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15674932,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,15749177,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,15694510,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,15741417,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,15766172,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [55]:
test.drop(["id", "Surname"], axis=1, inplace=True)

In [56]:
test.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15773898,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,15782418,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,15807120,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,15808905,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,15607314,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00

In [57]:
train.isna().sum()

CustomerId         0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [58]:
train.isnull().sum()

CustomerId         0
CreditScore        0
Geography          1
Gender             0
Age                1
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          1
IsActiveMember     1
EstimatedSalary    0
Exited             0
dtype: int64

In [59]:
train.dropna(inplace=True)

In [60]:
train.isnull().sum()

CustomerId         0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [61]:
train.duplicated().sum()

199

In [62]:
train.drop_duplicates(inplace = True)

In [63]:
train.duplicated().sum()

0

In [64]:
train['HasCrCard'] = train['HasCrCard'].astype('int')
train['IsActiveMember'] = train['IsActiveMember'].astype('int')

test['HasCrCard'] = test['HasCrCard'].astype('int')
test['IsActiveMember'] = test['IsActiveMember'].astype('int')

def add_features(df):
    df['Geo_Gender'] = df['Geography'] + "_" + df['Gender']
    df['AgeGroup'] = df['Age'] // 10 * 10
    df['IsSenior'] = df['Age'].apply(lambda x: 1 if x >= 65 else 0)
    #df['IsYoung'] = df['Age'].apply(lambda x: 1 if x < 25 else 0)
    df['Balance_to_Salary_Ratio'] = (df['Balance'] / df['EstimatedSalary']).astype('float32')
    df['CreditScoreTier'] = pd.cut(df['CreditScore'], bins=[0, 650, 750, 850], labels=['Low', 'Medium', 'High'])
#     df['Products_Per_Tenure'] = (df['NumOfProducts'] / df['Tenure']).astype('float32')
    df['IsActive_by_CreditCard'] = (df['HasCrCard'] * df['IsActiveMember']).astype('float32')
    df['Customer_Status'] = df['Tenure'].apply(lambda x: 'New' if x < 2 else 'Long-term')
    return df

train = add_features(train)
test = add_features(test)

In [65]:
train.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geo_Gender,AgeGroup,IsSenior,Balance_to_Salary_Ratio,CreditScoreTier,IsActive_by_CreditCard,Customer_Status
0,15674932,668,France,Male,33.0,3,0.00,2,1,0,181449.97,0,France_Male,30.0,0,0.000000,Medium,0.0,Long-term
1,15749177,627,France,Male,33.0,1,0.00,2,1,1,49503.50,0,France_Male,30.0,0,0.000000,Low,1.0,New
2,15694510,678,France,Male,40.0,10,0.00,2,1,0,184866.69,0,France_Male,40.0,0,0.000000,Medium,0.0,Long-term
3,15741417,581,France,Male,34.0,2,148882.54,1,1,1,84560.88,0,France_Male,30.0,0,1.760655,Low,1.0,Long-term
4,15766172,716,Spain,Male,33.0,5,0.00,2,1,1,15068.83,0,Spain_Male,30.0,0,0.000000,Medium,1.0,Long-term

In [66]:
test.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geo_Gender,AgeGroup,IsSenior,Balance_to_Salary_Ratio,CreditScoreTier,IsActive_by_CreditCard,Customer_Status
0,15773898,586,France,Female,23.0,2,0.00,2,0,1,160976.75,France_Female,20.0,0,0.000000,Low,0.0,Long-term
1,15782418,683,France,Female,46.0,2,0.00,1,1,0,72549.27,France_Female,40.0,0,0.000000,Medium,0.0,Long-term
2,15807120,656,France,Female,34.0,7,0.00,2,1,0,138882.09,France_Female,30.0,0,0.000000,Medium,0.0,Long-term
3,15808905,681,France,Male,36.0,8,0.00,1,1,0,113931.57,France_Male,30.0,0,0.000000,Medium,0.0,Long-term
4,15607314,752,Germany,Male,38.0,10,121263.62,1,1,0,139431.00,Germany_Male,30.0,0,0.869703,High,0.0,Long-term

In [67]:
train = TabularDataset(train)
test = TabularDataset(test)

In [68]:
train['IsActive_by_CreditCard'].isin([np.inf]).sum()

0

In [ ]:
automl = TabularPredictor(label='Exited', problem_type='binary', eval_metric='roc_auc')
automl.fit(train, presets='best_quality')

No path specified. Models will be saved in: "AutogluonModels\ag-20240111_141146\"
Presets specified: ['best_quality']
Stack configuration (auto_stack=True): num_stack_levels=0, num_bag_folds=8, num_bag_sets=1
Warning: Training may take a very long time because `time_limit` was not specified and `train_data` is large (174833 samples, 63.63 MB).
	Consider setting `time_limit` to ensure training finishes within an expected duration or experiment with a small portion of `train_data` to identify an ideal `presets` and `hyperparameters` configuration.
Beginning AutoGluon training ...
AutoGluon will save models to "AutogluonModels\ag-20240111_141146\"
AutoGluon Version:  0.6.2
Python Version:     3.7.16
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.22621
Train Data Rows:    174833
Train Data Columns: 18
Label Column: Exited
Preprocessing data ...
Selected class <--> label mapping:  class 1 = 1, class 0 = 0
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    5909.5 MB
	Train Data (Original)  Memory Usage: 60.83 MB (1.0% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 6 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('category', []) : 1 | ['CreditScoreTier']
		('float', [])    : 6 | ['Age', 'Balance', 'EstimatedSalary', 'AgeGroup', 'Balance_to_Salary_Ratio', ...]
		('int', [])      : 7 | ['CustomerId', 'CreditScore', 'Tenure', 'NumOfProducts', 'HasCrCard', ...]
		('object', [])   : 4 | ['Geography', 'Gender', 'Geo_Gender', 'Customer_Status']
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 3 | ['Geography', 'Geo_Gender', 'CreditScoreTier']
		('float', [])     : 5 | ['Age', 'Balance', 'EstimatedSalary', 'AgeGroup', 'Balance_to_Salary_Ratio']
		('int', [])       : 4 | ['CustomerId', 'CreditScore', 'Tenure', 'NumOfProducts']
		('int', ['bool']) : 6 | ['Gender', 'HasCrCard', 'IsActiveMember', 'IsSenior', 'IsActive_by_CreditCard', ...]
	0.9s = Fit runtime
	18 features in original data used to generate 18 features in processed data.
	Train Data (Processed) Memory Usage: 13.46 MB (0.2% of available memory)
Data preprocessing and feature engineering runtime = 0.95s ...
AutoGluon will gauge predictive performance using evaluation metric: 'roc_auc'
	This metric expects predicted probabilities rather than predicted class labels, so you'll need to use predict_proba() instead of predict()
	To change this, specify the eval_metric parameter of Predictor()
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif_BAG_L1 ...
	0.5421	 = Validation score   (roc_auc)
	0.43s	 = Training   runtime
	0.67s	 = Validation runtime
Fitting model: KNeighborsDist_BAG_L1 ...
	0.5384	 = Validation score   (roc_auc)
	0.49s	 = Training   runtime
	0.9s	 = Validation runtime
Fitting model: LightGBMXT_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused LightGBMXT_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Fitting model: LightGBM_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused LightGBM_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.

Fitting model: RandomForestGini_BAG_L1 ...
	0.8776	 = Validation score   (roc_auc)
	16.92s	 = Training   runtime
	9.05s	 = Validation runtime
Fitting model: RandomForestEntr_BAG_L1 ...
	0.8775	 = Validation score   (roc_auc)
	20.97s	 = Training   runtime
	8.97s	 = Validation runtime
Fitting model: CatBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused CatBoost_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Fitting model: ExtraTreesGini_BAG_L1 ...
	0.8806	 = Validation score   (roc_auc)
	8.02s	 = Training   runtime
	8.21s	 = Validation runtime
Fitting model: ExtraTreesEntr_BAG_L1 ...
	0.8804	 = Validation score   (roc_auc)
	8.8s	 = Training   runtime
	8.67s	 = Validation runtime
Fitting model: NeuralNetFastAI_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused NeuralNetFastAI_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Fitting model: XGBoost_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused XGBoost_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.

Fitting model: NeuralNetTorch_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy
	Warning: Exception caused NeuralNetTorch_BAG_L1 to fail during training... Skipping this model.
		The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Detailed Traceback:
Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 316, in __init__
    self.redis_password,
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\services.py", line 385, in wait_for_node
    raise TimeoutError("Timed out while waiting for node to startup.")
TimeoutError: Timed out while waiting for node to startup.

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1422, in _train_and_save
    model = self._train_single(X, y, model, X_val, y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\trainer\abstract_trainer.py", line 1367, in _train_single
    model = model.fit(X=X, y=y, X_val=X_val, y_val=y_val, total_resources=total_resources, **model_fit_kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\abstract\abstract_model.py", line 703, in fit
    out = self._fit(**kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\stacker_ensemble_model.py", line 154, in _fit
    return super()._fit(X=X, y=y, time_limit=time_limit, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 251, in _fit
    n_repeats=n_repeats, n_repeat_start=n_repeat_start, save_folds=save_bag_folds, groups=groups, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\bagged_ensemble_model.py", line 541, in _fit_folds
    fold_fitting_strategy.after_all_folds_scheduled()
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\autogluon\core\models\ensemble\fold_fitting_strategy.py", line 483, in after_all_folds_scheduled
    self.ray.init(**ray_init_args)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\client_mode_hook.py", line 105, in wrapper
    return func(*args, **kwargs)
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\worker.py", line 1421, in init
    head=True, shutdown_at_exit=False, spawn_reaper=True, ray_params=ray_params
  File "C:\Users\youra\anaconda3\envs\ML\lib\site-packages\ray\_private\node.py", line 320, in __init__
    "The current node has not been updated within 30 "
Exception: The current node has not been updated within 30 seconds, this could happen because of some of the Ray processes failed to startup.
Fitting model: LightGBMLarge_BAG_L1 ...
	Fitting 8 child models (S1F1 - S1F8) | Fitting with ParallelLocalFoldFittingStrategy