# Recurrent Neural Network
- raw data, no feature extraction
- parietal, occipital region

In [1]:
from scipy import io
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
path = '/Users/Taejun/Desktop/me1/ME1.mat'

In [3]:
data = io.loadmat(path)

In [4]:
np.shape(data['data'])

(29, 1150, 500)

In [5]:
label = pd.read_csv('/Users/Taejun/Desktop/me1/label.txt',header=None)
label.head()

   0
0  5
1  0
2  4
3  1
4  9

In [6]:
train = data['data'][:,150:,:450]
test  = data['data'][:,150:,450:]
train_label = label[:450]
test_label  = label[450:]

## Keras
- input shape: samples x time steps x features

In [7]:
from keras.models import Sequential
from keras.layers import *

//anaconda/lib/python3.5/site-packages/h5py/__init__.py:34: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.
//anaconda/lib/python3.5/importlib/_bootstrap.py:222: RuntimeWarning: compiletime version 3.6 of module 'tensorflow.python.framework.fast_tensor_util' does not match runtime version 3.5
  return f(*args, **kwds)

In [8]:
train = np.reshape(train,(450,1000,29))
test  = np.reshape(test,(50,1000,29))

In [12]:
model = Sequential()
model.add(LSTM(50, input_shape=(1000,29)))
model.add(Dense(20, activation='relu'))
model.add(Dense(10, activation='softmax'))
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])       
print(model.summary())
model.fit(train, train_label, epochs=10, batch_size=50)
# Final evaluation of the model
scores = model.evaluate(test, test_label, verbose=0)

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_5 (LSTM)                (None, 50)                16000
_________________________________________________________________
dense_5 (Dense)              (None, 20)                1020
_________________________________________________________________
dense_6 (Dense)              (None, 10)                210
=================================================================
Total params: 17,230
Trainable params: 17,230
Non-trainable params: 0
_________________________________________________________________
None
Epoch 1/10
450/450 [==============================] - 11s 24ms/step - loss: 2.3339 - acc: 0.1244
Epoch 2/10
450/450 [==============================] - 10s 21ms/step - loss: 2.2495 - acc: 0.1667
Epoch 3/10
450/450 [==============================] - 10s 22ms/step - loss: 2.1905 - acc: 0.2178
Epoch 4/10
450/450 [==============================] - 10s 21ms/step - loss: 2.1399 - acc: 0.2667
Epoch 5/10
450/450 [==============================] - 10s 22ms/step - loss: 2.0920 - acc: 0.3022
Epoch 6/10
450/450 [==============================] - 10s 22ms/step - loss: 2.0456 - acc: 0.3533
Epoch 7/10
450/450 [==============================] - 10s 21ms/step - loss: 1.9992 - acc: 0.3889
Epoch 8/10
450/450 [==============================] - 10s 22ms/step - loss: 1.9521 - acc: 0.4400
Epoch 9/10
450/450 [==============================] - 10s 22ms/step - loss: 1.9047 - acc: 0.4800
Epoch 10/10
450/450 [==============================] - 10s 21ms/step - loss: 1.8559 - acc: 0.5178

In [19]:
predicted = model.predict(test)

In [25]:
predicted[4]

array([0.10579996, 0.08500587, 0.18130967, 0.07627627, 0.06356674,
       0.07083413, 0.06950507, 0.05162309, 0.12308872, 0.17299055],
      dtype=float32)

In [21]:
test_label

     0
450  1
451  0
452  3
453  0
454  1
455  1
456  8
457  2
458  0
459  3
460  9
461  4
462  0
463  5
464  0
465  6
466  1
467  7
468  7
469  8
470  1
471  9
472  2
473  0
474  5
475  1
476  2
477  2
478  7
479  3
480  5
481  4
482  9
483  7
484  1
485  8
486  3
487  9
488  6
489  0
490  3
491  1
492  1
493  2
494  6
495  3
496  5
497  7
498  6
499  8